header{
    .nav-top{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #000;
        gap: 20px;
        .only991{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 15px 10px;
            text-transform: capitalize;
            i{
                margin-right: 9px;
                font-size: 18px;
            }
        }
        .first-link{
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            color: white;
            padding: 20px 10px;
            i{
                font-size: 18px;
                margin-right: 5px;
            }
        }
    }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            li a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            color: white;
            padding: 15px 10px;
            &:hover{
                color: rgb(100, 201, 241);
            }
            i{
                font-size: 18px;
                margin-right: 5px;
            }
        }   
    }
    .input-field{
        flex: 1;
        width: 100%;
        display: flex;
        background: white;
        padding: 0 20px 0 0;
        position: relative;
        overflow: hidden;
        input{
            flex: 1;
            border: 0;
            padding-left: 15px;
        }
        .icon{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(226, 136, 46);
            color: rgb(0, 0, 0);
        }
        
    }
    .nav-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: rgb(100, 201, 241);
        max-width: 100%;
        .menu-icon{
            font-size: 24px;
            color: black;
        }
        img{
            height: 70px;
            width: 160px;
        }
        .social-links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 30px;
            a{
                font-size: 22px;
                padding: 6px 10px;
                color: #000;
            }
            a:nth-child(2){
                margin-right: -10px;
            }
        }
    }
}

@media (max-width:991px) {
    .size991{
        display: none;
    }
    .only991{
        display: flex;
    }
    
}